.container {
  background: var(--grey-200);
  .title {
    font-size: 2.441rem;
    padding: 2rem 0 5rem 0;
    text-align: center;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 0.2rem;
      width: 7rem;
      background: var(--primary-design);
      left: 50%;
      transform: translateX(-50%);
      top: 5.4rem;
    }
  }
}

.section {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 5rem;
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));

  .section__item {
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-1);
    transition: var(--transition);

    &:hover {
      transform: scale(1.05);
      box-shadow: var(--shadow-2);
    }

    .item__content {
      position: relative;
      height: 15rem;

      .item__content-img {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: cover;
        border-top-left-radius: var(--borderRadius);
        border-top-right-radius: var(--borderRadius);
      }
    }

    .item__footer {
      text-align: center;
      padding: 1rem 1.25rem;
      background: var(--white);
      border-bottom-left-radius: var(--borderRadius);
      border-bottom-right-radius: var(--borderRadius);

      h5 {
        margin-bottom: 0px;
        color: var(--grey-900);
        font-weight: 500;
      }
    }
  }
}